
body {
  background: url('/static/img/City-background.jpg') center/cover no-repeat fixed;
  color: #ffffff;
}

/* Transparent Header Styles */
.transparent-header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

/* Custom styling for the centered block */
.center-block {
  text-align: center;
  margin-top: 150px; /* Adjust as needed */
}

.rounded-block {
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Override Bootstrap's default link color to make it visible on the background */
a {
  color: #ffc107;
}

/* Override Bootstrap's default link hover color */
a:hover {
  color: #ff8c00;
}